@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "compaction brix plfa"
    "compaction brix plfa"
    "npk microscopy cnratio"
    "npk microscopy cnratio";
  gap: 16px;
}

.details-page p {
  margin-bottom: 25px;
}

.details-page p:last-child {
  margin-bottom: 0;
}

/* Ipad layout */
@media (max-width: 1180px) {
  #dashboard {
    grid-template-areas:
      "compaction compaction brix"
      "compaction compaction brix"
      "npk microscopy microscopy"
      "npk microscopy microscopy"
      "plfa plfa cnratio";
  }
}

/* Mobile responsive layout */
@media (max-width: 830px) {
  #dashboard {
    grid-template-areas:
      "compaction"
      "brix"
      "npk"
      "microscopy"
      "plfa"
      "cnratio";
  }
}

.tileTitle {
  border-bottom: 2px solid #bfe0ff;
  padding-bottom: 5px;
}

.result-widget {
  background: #e6f3ff;
  padding: 15px;
  border-radius: 10px;
}
